@{
    ViewData["Title"] = "Sherlock BOT";
}

<div class="container">
    <div class="messages">
    </div>
    <div class="input-group mb-3 input-block">
        <input id="text" type="text" class="form-control" placeholder="Введите текст..." aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button">Отправить</button>
        </div>
    </div>
</div>
